/TallerCuatro/target/
/TallerCinco/target/
/TallerCincos/nbproject/private/
/TallerCincos/build/
/Taller7/nbproject/private/
/Taller7/build/
/taller6Libreria/nbproject/private/
/taller6l/nbproject/private/
/Taller6Paquete/nbproject/private/
/Taller8/nbproject/private/
/Tallerepasosrp8/nbproject/private/
/Taller9DRY/nbproject/private/
/Taller9DRY/build/
/Taller10/nbproject/private/
/Taller10/build/
/Ejemplorestaurante/nbproject/private/
/Taller11/nbproject/private/
/Taller11/build/
/PrincipioIndireccion/nbproject/private/
/Taller12/nbproject/private/
/Taller13/nbproject/private/
/Taller12/build/
/Taller13/build/
