/TallerCuatro/target/
/TallerCinco/target/
/TallerCincos/nbproject/private/
/TallerCincos/build/
/Taller7/nbproject/private/
/Taller7/build/
/taller6Libreria/nbproject/private/
/taller6l/nbproject/private/
/Taller6Paquete/nbproject/private/
/Taller8/nbproject/private/
